.history
*.class
.classpath
.settings/
.travis.*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# sbt specific
/bin
.cache
.project
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/project/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea/
*.iml

# Scala-js
*.sjsir
